In [1]:
import pymysql # MySQL 연동을 위한 라이브러리

# MySQL Connection 연결
mysql_db = pymysql.connect(
    host='localhost',
    user='root',
    password='admin',
    cursorclass=pymysql.cursors.DictCursor
)

cursor = mysql_db.cursor()

cursor.execute("USE sql_test") # 지금부터, sql_test 데이터베이스를 사용할꺼야.
cursor.fetchall()

()

# 데이터 적재
테이블을 생성을 해봤으니, 테이블에 데이터도 넣어봐야 한다.

## INSERT into 테이블 (컬럼 리스트) values (각 컬럼에 맞는 데이터)

```SQL
INSERT into user_table (name, sex, home_address, phone_number) values ('김동호', 0, '서울특별시 뭐시기 뭐시기', '010-1234-1234'), (데이터2 ...), (데이터3 ..);
```

In [18]:
cursor.execute("""INSERT into sql_test.user_table (name, sex, home_address, phone_number) 
               values ('김동호', 0, '서울특별시 뭐시기 뭐시기', '010-1234-1234'),
               ('이아영', 1, "ㅁㄴㅇㅁㄴㅇ", "010-1234-1235");""")

result = cursor.fetchall() # 실행ㄴ
print(result) # 결과 -> 아무것도 안뜨면 정상

()

# 데이터를 가져오는 방법

## SELECT 가져올 범위 FROM 어디서 가져올지;

```SQL
SELECT * FROM user_table;
```
'*' -> 와일드 카드를 의미함.
위 쿼리는 user_table안에 있는 모든 컬럼을 대상으로 정보를 가져오는 쿼리문.

```SQL
SELECT name, phone_number FROM user_table;
```

In [19]:
sql = """
SELECT * FROM user_table;
"""

cursor.execute(sql)
result = cursor.fetchall()
print(result)

[{'id': 1, 'name': '김동호', 'sex': b'\x00', 'home_address': '서울특별시 뭐시기 뭐시기', 'phone_number': '010-1234-1234'}, {'id': 2, 'name': '이아영', 'sex': b'\x01', 'home_address': 'ㅁㄴㅇㅁㄴㅇ', 'phone_number': '010-1234-1235'}]

In [20]:
sql ="""
SELECT name, phone_number FROM user_table;
"""

cursor.execute(sql)
result = cursor.fetchall()
print(result)

[{'name': '김동호', 'phone_number': '010-1234-1234'}, {'name': '이아영', 'phone_number': '010-1234-1235'}]

# 데이터중에서 조건을 걸어서 원하는 범위(혹은 상태)를 가진 데이터만 추출해서 보고싶을 경우, WHERE문을 사용

## SELECT * FROM user_table WHERE 조건;

```SQL
SELECT * FROM user_table WHERE sex=0;
```

```SQL
SELECT * FROM user_table WHERE sex=0 AND home_address=''; // 둘 다 만족하는 결과가 나옴
SELECT * FROM user_table WHERE sex=0 OR home_address=''; // 둘 중 하나만 만족하는 결과가 나옴.
조건부에서 사용하는 비교 연산자는 아래와 같음
= 같다
<> 다르다
>= 크거나 같다
<= 작거나 같다
> 크다
< 작다
```

In [22]:
sql = """
SELECT name FROM user_table WHERE sex = 1;
"""

cursor.execute(sql)
result = cursor.fetchall()
print(result)

[{'name': '이아영'}]

> 복합 조건문을 걸기 위해 임시 데이터 추가로 넣어보겠습니다

In [23]:
sql = """
INSERT INTO user_table (name, sex, home_address, phone_number)
VALUES ('홍길동', 0, "서울특별시", "010-1234-1234"),
        ('홍길투', 1, "경기도", "011-1234-1234"),
        ('홍길쓰리', 0, "서울특별시", "010-1234-1234"),
        ('홍길포', 0, "부산광역시", "011-1234-1234")
"""
cursor.execute(sql)
result = cursor.fetchall()
print(result)

()

In [26]:
# 남성이면서 서울특별시에 사는 사람을 찾아보자.

sql = """
SELECT * FROM user_table WHERE sex = 0 OR home_address LIKE '서울특별시%'; # LIKE {args}처럼 생긴 모든 결과를 가지고옴
"""

cursor.execute(sql)
result = cursor.fetchall()
print(result)

[{'id': 1, 'name': '김동호', 'sex': b'\x00', 'home_address': '서울특별시 뭐시기 뭐시기', 'phone_number': '010-1234-1234'}, {'id': 3, 'name': '홍길동', 'sex': b'\x00', 'home_address': '서울특별시', 'phone_number': '010-1234-1234'}, {'id': 5, 'name': '홍길쓰리', 'sex': b'\x00', 'home_address': '서울특별시', 'phone_number': '010-1234-1234'}, {'id': 6, 'name': '홍길포', 'sex': b'\x00', 'home_address': '부산광역시', 'phone_number': '011-1234-1234'}]

# 다양한 범위의 값을 가져오려면 LIKE를 활용해보자.

## LIKE {args%}

-> 여담. LIKE문 쓸 때, 스트링 앞에 %는 최대한 피하자.
```SQL
SELECT * FROM user_table WHERE sex = 0 AND home_address LIKE '서울특별시%';
```

# 데이터 정렬
## ORDER BY 정렬방식 정렬기준


```SQL
SELECT * FROM user_table WHERE sex = 0 ORDER BY name;
```

In [29]:
sql ="""
SELECT * FROM user_table ORDER BY name;
"""

cursor.execute(sql)
result = cursor.fetchall()
print(result)

[{'id': 1, 'name': '김동호', 'sex': b'\x00', 'home_address': '서울특별시 뭐시기 뭐시기', 'phone_number': '010-1234-1234'}, {'id': 2, 'name': '이아영', 'sex': b'\x01', 'home_address': 'ㅁㄴㅇㅁㄴㅇ', 'phone_number': '010-1234-1235'}, {'id': 3, 'name': '홍길동', 'sex': b'\x00', 'home_address': '서울특별시', 'phone_number': '010-1234-1234'}, {'id': 5, 'name': '홍길쓰리', 'sex': b'\x00', 'home_address': '서울특별시', 'phone_number': '010-1234-1234'}, {'id': 4, 'name': '홍길투', 'sex': b'\x01', 'home_address': '경기도', 'phone_number': '011-1234-1234'}, {'id': 6, 'name': '홍길포', 'sex': b'\x00', 'home_address': '부산광역시', 'phone_number': '011-1234-1234'}]